.rh_feature_title {
    display: flex;
}

.rh_feature_title .rh-features-container {
    margin: 0;
}


.rh_feature_title .rh-features-container-text {
    max-width: 700px;
}

.rh_documentation_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.rh_documentation_heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-family: var(--font-family);
    max-width: 510px;
    font-weight: 800;
}



.rh_documentation_container .rh-features-container {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}


.rh_documentation_container .rh-features-container-text {
    margin-top: 2rem;
}

.LinkContainer {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}