.rh-features-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}

.rh-features-container-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.rh-features-container-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04rem;
    color: #FFFFFF;
}

.rh-features-container-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25 rem;
}

.rh-features-container-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.rh-features-container-text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}