@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, rgba(217, 205, 195, 1) 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: linear-gradient(89.97deg, rgba(19, 11, 27, 1) 1.84%, rgba(23, 6, 38, 1) 102.67%);
  --color-footer : #2e1c52;
  --color-blog: #342863;
  --color-text: rgba(239, 206, 176, 1);
  --color-subtext: #FF8A71;
}